@import'./common/imports/fonts.scss';
html {
  box-sizing: border-box;
  font-size: 16px;
  position: relative;
  min-height: 100%;
}
*, *::before, *::after { 
  box-sizing: inherit;
  font-family: Roboto, sans-serif;
}
.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}
.clearfix::after {
  clear: both;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
  li{
    margin: 0;
    padding: 0;
  }
}
body {
  margin: 0;
}
a{
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  text-decoration: none;
}

@import 'common/greating';
