.greating {
  overflow: hidden;
  position: relative;
  padding: 100px 20px 50px;
  background: #F44336;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);

  &_text {
    font: 45px 'Arial', sans-serif;
    color: #fff;
  }

}

